{% extends '_base.html' %}
{% block body %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div>
        <h1>Manager Register</h1>
        <div class="card text-center">
            <div class="card-body">
                <form method="POST" action="{{ url_for('manager_register') }}">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control clear-placeholder" id="name" name="name" placeholder="Name">
                        <label for="name">Enter your Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control clear-placeholder" id="email" name="email" placeholder="Email">
                        <label for="email">Enter your Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control clear-placeholder" id="password" name="password" placeholder="Password">
                        <label for="password">Enter your Password</label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-rounded">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
